<div class="container">

  <h4>Request Details</h4>
  <div class="divider"></div>
  <br />

  <h5>Question</h5>
  <div class="card teal darken-3">
    <div class="card-content white-text">
      <b><%= @askUser.nickName %> asked on </b>
      <b><%= @req.askTime.strftime("%B %d, %Y") %></b>
      <div style="font-family: 'Courgette', sans-serif">
        <span class="card-title"><%= @req.title %></span>
        <div class="divider"></div>
        <p><%= @req.details %></p>
      </div>
    </div>
  </div>

  <br />
  <hr />
  <br />



  <% if @answerUser.nil? %>
  <div class="center grey-text">
    <h5>No Advice Yet</h5>
  </div>

  <% else %>

    <h5>Advice</h5>

    <div class="card teal lighten-3">
      <div class="card-content">
        <b><%= @answerUser.nickName %> answered on </b>
        <b><%= @req.askTime.strftime("%B %d, %Y") %></b>
        <p>
          <%= @req.answer %>
        </p>
      </div>
    </div>

  <% end %>
</div>

<script type="text/javascript">
  mixpanel.track("request_details_viewed", {
      "user_id": 000,
  });
</script>
