<div class="container">

  <h4>Request Details</h4>
  <div class="divider"></div>
  <br />

  <h5>Question</h5>

  <%= render :partial => "partials/request_preview_card", :locals=> {req: @req, favCount:@favCount, askUserName:@askUserName, isFav:@isFav, isStar:@isStar, disableLink: true, commentCount:@commentCount} %>

  <br />
  <hr />
  <br />


  <h5>Advice</h5>

  <% if @answerUser.nil? %>
  <div class="center grey-text">
    <br />
    <br />
    <h5>No Advice Yet</h5>
    <br />
  </div>

  <% else %>

    <div class="card teal darken-3">
      <div class="card-content white-text">
        <b><%= @answerUserName %> answered on </b>
        <b><%= @req.askTime.strftime("%B %d, %Y") %></b>
        <p>
          <%= @req.answer %>
        </p>
      </div>
    </div>

  <% end %>

  <br />
  <hr />
  <br />

  <h5>Comments</h5>

  <%= form_for :comment, :url=>onCreateComment_path(@req.id), :method=>:post, :remote=>true do |f|%>
    <%= f.text_field :content, :id=>"comment_text_field", :placeholder=>"Please leave your comments here. (500 characters max)"%>
    <%= f.submit "Comment", :id=>"submit_comment" %>
  <% end %>

  <br />


  <div id="no_comment_block" class="center grey-text">
    <% if @comments.nil? || @comments.length == 0 %>
      <br />
      <br />
      <h5>Be the first to comment</h5>
      <br />
    <% end %>
  </div>

  <div id="comment_block">

    <% if !@comments.nil? && @comments.length > 0 %>
      <% for comment in @comments %>

        <%= render(:partial => "comment", :locals=> {comment: comment}) %>

      <% end %>
    <% end %>

  </div> <!-- end of comment block -->

</div>
<br />
<br />

<script type="text/javascript">
  mixpanel.track("request_details_viewed", {
      "user_id": 000,
  });
</script>
