<h1>Request Advice</h1>
<hr />


<%= form_for :request_question, :url=>onSubmitQuestion_request_advice_index_path do |f| %>

  <h2>Step 1: Your Question</h2>
  <p>
    <h4>Question Title</h4>
    <%= f.text_field :title %>
  <p>

  <p>
    <h4>Question Details</h4>
    <%= f.text_area :details, size: "50x20" %>
  </p>

  <p>
    Make my request public
    <%= f.check_box :isPublic %>
  </p>

  <br />
  <hr />

  <% if @matchUserName.nil? %>
    <br />
  <% else %>
    <h2>Step 2: Please Give <%=@matchUserName%> an Advice</h2>

    <div>
    <inline><%=@matchUserName%> asked on </inline>
    <inline><%=@matchRequestAskTime%></inline>

      <h4><%=@matchReqeustTitle%></h4>
      <p><%=@matchReqeustDetails%></p>
      <p>
        Sincerely,<br />
        -<%=@matchUserName%>
      </p>
    </div>
    <br />

    <%= hidden_field_tag :matchRequestId, "#{@matchRequestId}" %>
    <%= hidden_field_tag :matchUserId, "#{@matchUserId}" %>
    <%= hidden_field_tag :matchUserName, "#{@matchUserName}" %>

    <%= fields_for :request_advice do |advice_field| %>
      <p>
        <h4>-> Your Perspective and Advice</h4>
        <%= advice_field.text_area :answer, :size => "50x20", :placeholder => "Please give your advice here." %>
      </p>
    <% end %>
    <br />
    <hr />

  <% end %>

  <p>
    <%= f.submit %>
  </p>

<% end %>

<br />
