<h1>Request Submitted</h1>

<h3>Question Title</h3>
<p><%= @questionTitle %></p>

<h3>Question Details</h3>
<p><%= @questionDetails %></p>

<h3>Question Type</h3>
<p><%= @questionIsPublicString %></p>

<h3>Your Answer to <%=@matchUserName%>'s Question</h3>
<p><%= @adviceAnswer %></p>
