<h1>OnSubmitQuestion</h1>

<div>
  <p><%= @saveResultString %></p>
</div>

<h3>Question Title</h3>
<p><%= @questionTitle %></p>

<h3>Question Details</h3>
<p><%= @questionDetails %></p>

<h3>Question isPublic</h3>
<p><%= @questionIsPublic %></p>


<h3>Another Question Answer</h3>
<p><%= @adviceAnswer %></p>
