<div class="container">
  <h4>My Answers</h4>
  <div class="divider"></div>
  <br />

  <% if @requests.length == 0 %>
    <div class="center">
      <br />
      <h3 class="center-align grey-text"><i class="large material-icons">create</i></h3>
      <h5 class="center-align grey-text">You haven't given any advices yet. Try giving your first advice while making a personal request.</h5>
      <br />
      <div class="btn-large waves-effect waves-light orange">
        <%= button_to "Request Advice", request_advice_index_path, :method => :get %>
      </div>

      <br />
      <br />
    </div>
  <% end %>


  <% @requests.length.times do |i| %>
    <% req = @requests[i] %>
    <% askUserName = @askUserNames[i] %>
    <%= link_to(request_details_path(req.id)) do %>
      <div class="card teal lighten-5">
        <div class="card-content black-text">
          <b><%= "#{askUserName} asked on " %></b>
          <b><%= req.askTime.strftime("%B %d, %Y") %></b>
          <span class="card-title">
            <%=req.title%>
          </span>
          <p><%= req.details %></p>
        </div>
      </div>
      <% end %>
  <% end %>
</div>
