<div class="container">
  <h4>Settings</h4>
  <div class="divider"></div>
  <br />

  <div class="row">
    <div class="col s12 m6">
      <div class="center teal-text"><i class="material-icons" style="font-size:60pt;">person_pin</i></div>
      <div class="center">
        <b>Username: <%=@username%></b>
        <br />
        <b>Email: <%=@email%></b>
        <br />
        <b>Public Nickname: <%=@nickName%></b>
      </div>

      <br />
      <hr />
      <br />

      <div id="user_metrics">
        <h5>Stats</h5>
        <div><b>Questions Asked:</b> <%=@numQuestions%></div>
        <div><b>Advices Given:</b> <%=@numAnswers%></div>
        <div><b>Favorited Requests:</b> <%=@numFavorites%></div>
        <div><b>Starred Requests:</b> <%=@numStars%></div>
        <div><b>Member Since:</b> <%=@memberSinceString%></div>
      </div>

      <br />
      <br />
      <br />

    </div>



    <div class="col s12 m6">
      <h5>Update Info</h5>

      <%= form_for :user, :url=>onUserUpdate_settings_path do |f|%>
        <div>
          <%= f.label "Public Nickname", :for=>:nickName %>
          <%= f.text_field :nickName, :placeholder=>"#{@nickName}" %>
        </div>

        <div>
          <%= f.label "Email", :for=>:email %>
          <%= f.text_field :email, :placeholder=>"#{@email}" %>
        </div>

        <div>
          <%= f.check_box :email_notification, :checked=>@isNotified, :id=>"email_notification" %>
          <%= f.label "Subscribe to email notifications", :for => :email_notification %>
        </div>

        <br />

        <div class="center">
          <span class='btn-large waves-effect waves-light orange'>
            <%= f.submit "Update" %>
          </span>
        </div>

      <% end %>

    </div>

  </div>

</div>


<script type="text/javascript">
  mixpanel.track("settings_viewed", {
      "user_id": 000,
  });
</script>
