<div class="container">
  <h4>Activity</h4>
  <div class="divider"></div>
  <br />

  <% @publicRequests.length.times do |i| %>
    <% req = @publicRequests[i] %>
    <% askUserName = @askUserNames[i] %>
    <% isFav = @isFavArray[i] %>
    <% isStar = @isStarArray[i] %>


      <div class="card teal lighten-5">

        <div class="row">

          <div class="col s2">
            <div style="padding: 15px 15px 15px 15px;">
              <div style="border: 1px solid white; text-align:center; background-color: teal; width:40px; margin:auto;" class="white-text">
                2039
              </div>

              <% heart_filled_src = "icons/heart_filled_icon.png" %>
              <% heart_empty_src = "icons/heart_icon.png" %>
              <div style="margin:auto; width:40px; height:40px;">
                <% if isFav %>
                  <%= image_tag(heart_filled_src, class: "favorite", id: "#{req.id}", size:"40x40", alt:"heart icon", data: { req_id: "#{req.id}", filled: "true"}) %>
                <% else %>
                  <%= image_tag(heart_empty_src, class: "favorite", id: "#{req.id}", size:"40x40", alt:"heart empty icon", data: { req_id: "#{req.id}", filled: "false"}) %>
                <% end %>
              </div>


              <% star_filled_src = "icons/star_filled_icon.png" %>
              <% star_empty_src = "icons/star_icon.png" %>
              <div style="margin:auto; width:40px; height:40px;">
                <% if isStar %>
                  <%= image_tag(star_filled_src, class: "star", size:"40x40", alt:"star icon", data: { req_id: "#{req.id}", filled: "true"}) %>
                <% else %>
                  <%= image_tag(star_empty_src, class: "star", size:"40x40", alt:"star empty icon", data: { req_id: "#{req.id}", filled: "false"}) %>
                <% end %>
              </div>

            </div>

          </div>

          <%= link_to(request_details_path(req.id)) do %>
          <div class="card-content black-text col s10">
            <b><%= "#{askUserName} asked on " %></b>
            <b><%= req.askTime.strftime("%B %d, %Y") %></b>
            <span class="card-title">
              <%=req.title%>
            </span>
            <div class="divider"></div>
            <p><%= req.details %></p>
          </div>
          <% end %>

        </div> <!-- End of row -->

      </div> <!-- End of card -->

  <% end %>

  <!-- Send Variables to activity.js -->
  <!--  -->

</div>
