
<div class="container">
  <h4>Activity</h4>
  <div class="divider"></div>
  <br />

  <% @publicRequests.length.times do |i| %>
    <% req = @publicRequests[i] %>
    <% askUserName = @askUserNames[i] %>

    <%= link_to(request_details_path(req.id)) do %>
      <div class="card teal lighten-5">
        <div class="card-content black-text">
          <span><%= "#{askUserName} asked on " %></span>
          <span><%= req.askTime.strftime("%B %d, %Y") %></span>
          <span class="card-title">
            <%=req.title%>
          </span>
          <p><%= req.details %></p>
        </div>

      </div>
      <% end %>

  <% end %>

</div>
