<div class="container">
  <h4>Login / Signup</h4>
  <div class="divider"></div>
  <br />

  <div class="row">
    <div class="col s12 l6">

      <div class="center teal-text">
        <h5>Log In</h5>
      </div>

      <%= form_for :user_login, :url=>onLogin_login_index_path do |f|%>
      <div>
        <%= f.label "Username", :for=>:username %>
        <%= f.text_field :username %>
      </div>

      <div>
        <%= f.label "Password", :for=>:password %>
        <%= f.password_field :password %>
      </div>

      <div class="center">
        <span class='btn-large waves-effect waves-light orange'>
          <%= f.submit "Log In" %>
        </span>
      </div>

      <% end %>
    </div>

    <div class="col s12 l6">
      <div class="center teal-text">
        <h5>Signup</h5>
      </div>

      <%= form_for :user_signup, :url=>onSignup_login_index_path do |f|%>

      <div>
        <%= f.label "Username", :for=>:username %>
        <%= f.text_field :username %>
      </div>

      <div>
        <%= f.label "Email Address", :for=>:email %>
        <%= f.text_field :email %>
      </div>

      <div>
        <%= f.label "Password", :for=>:password %>
        <%= f.password_field :password %>
      </div>

      <div>
        <%= f.label "Password Confirmation", :for=>:password_repeated %>
        <%= f.password_field :password_repeated %>
      </div>

      <div>
        <%= f.label "Public Nickname", :for=>:nick_name %>
        <%= f.text_field :nick_name %>
      </div>

      <div class="center">
        <span class="btn-large waves-effect waves-light teal">
          <%= f.submit "Sign Up" %>
        </span>
      </div>
      <% end %>
    </div>
  </div>

</div>
<br />
<br />
