<!DOCTYPE html>
<html>
  <head>
    <title>Donna</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="teal lighten-3 navbar" role="navigation">
      <div class="nav-wrapper container">

        <ul class="left">
          <li><%= link_to "Donna", landing_index_path %></li>
        </ul>

        <ul class="left hide-on-med-and-down">
          <li><%= link_to "Activity", activity_index_path %></li>
          <li><%= link_to "My Requests", my_requests_index_path %></li>
          <li><%= link_to "My Answers", my_answers_index_path %></li>
          <li><%= link_to "#{@loginLabelText}", @loginLabelPath %></li>
        </ul >

        <ul class="right">
          <li>
            <%= link_to "Request Advice", request_advice_index_path, :class=>"btn-large waves-effect waves-light orange darken-2" %>
          </li>
        </ul >
      </div>
    </nav>

    <!--  -->

    <div class="container center">
      <% flash.each do |key, value| %>
        <div class="row" style="border:2px solid orange">
          <p><%= value %></p>
        </div>
      <% end %>
    </div>

    <%= yield %>

    <br />
    <br />
    <footer class="page-footer teal">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Donna</h5>
            <p class="grey-text text-lighten-2">We are trying to create platforms for people to be more human in a data-centric world. Any amount would help support and continue development on this project and is greatly appreciated.</p>
          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <li><form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" style='display:inline;'>
                <input type="hidden" name="cmd" value="_donations">
                <input type="hidden" name="business" value="K8QPYAAWRV7S2">
                <input type="hidden" name="lc" value="CA">
                <input type="hidden" name="item_name" value="Donna">
                <input type="hidden" name="no_note" value="1">
                <input type="hidden" name="no_shipping" value="1">
                <input type="hidden" name="currency_code" value="USD">
                <input type="hidden" name="bn" value="PP-DonationsBF:btn_donate_LG.gif:NonHosted">

                <input type="submit" value="Donate" style="border:none;padding: 0;background: none;" name="submit" alt="Donate">
              </form></li>
              <li>Made with <a class="white-text" href="http://materializecss.com">Materialize</a></li>
            </ul>
          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Social</h5>
            <ul>
              <li><a class="white-text" href="https://www.facebook.com/askTheDonna/">Facebook</a></li>
              <li><a href="mailto:technochimera@gmail.com" class="contact-link white-text">Email</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        Made by team <a class="brown-text text-lighten-3" href="https://www.facebook.com/askTheDonna/">AskDonna</a>. All Rights Reserved.
        </div>
      </div>
    </footer>

  </body>
</html>
