<!DOCTYPE html>
<html>
  <head>
    <title>Genie2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

    <nav class="white navbar" role="navigation">
      <div class="nav-wrapper container">

        <ul class="left">
          <li><%= link_to "The Donna", landing_index_path %></li>
        </ul>

        <ul class="left hide-on-med-and-down">
          <li><%= link_to "Activity", activity_index_path %></li>
          <li><%= link_to "My Requests", my_requests_index_path %></li>
          <li><%= link_to "My Answers", my_answers_index_path %></li>
          <li><%= link_to "#{@loginLabelText}", @loginLabelPath %></li>
        </ul >

        <ul class="right">
          <li>
            <%= link_to "Request Advice", request_advice_index_path %>
          </li>
        </ul >
      </div>
    </nav>

    <!--  -->

    <div>
      <% flash.each do |key, value| %>
        <p><%= value %></p>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
